@import url('values.css');

/* Estilos para la ventana emergente */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
  }

.modal #modal-content {
    background-color: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    font-family: helvetica;
}

.modal #modal-content h2 {
    text-align: center;
}

.modal #modal-content .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.help-button {
    border: 2px solid var(--hint-color);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--accent-color);
    text-align: center;
    line-height: 1;
    cursor: pointer;
    font-weight: bold;
}

.help-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.modal #modal-content .actions {
    position: relative;
    border-radius: 2px;
    color: var(--accent-color);
    background: var(--bg-color);
    margin-top: 4px;
    padding: 4px;
    font-size: 16px;
    line-height: 14px;
}

/* Estilos para la ventana principal */
.container {
    display: flex;
    height: calc(100vh - 4px);
}

.left-panel {
    flex: 3;
    padding: 20px;
    position: relative;
    min-width: 300px;
}

.right-panel {
    flex: 1;
    background-color: var(--sbg-color);
    padding: 10px 10px 10px 2px;
    border-left: 1px solid var(--border-color);
    min-width: 300px;
    overflow: auto;
}

#turtle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid var(--border-color);
    background-color: white;
}

#settings {
    padding: 4px 4px 4px 2px;
    font-family: helvetica;
    font-weight: 100;
}

#settings .setting {
    padding: 4px 4px 8px 8px;
    border-left: 2px solid var(--accent-color);
    text-align: center;
    margin-bottom: 8px;
    overflow: hidden;
}

#settings .setting h2 {
    font-size: 17px;
    font-weight: 100;
    margin: 4px;
}

#settings .setting .value {
    font-size: 20px;
    margin-top: 6px;
}

#settings .setting #rule-inputs {
    overflow: hidden;
    margin-bottom: 3px;
}

#settings .setting .string {
    margin-top: 6px;
}

#settings .setting .hint {
    font-style: italic;
    color: var(--hint-color);
    font-size: 14px;
}

#settings .setting .list {
    text-align: left;
}

#settings .setting .list .rule {
    position: relative;
    box-shadow: 0 0 2px var(--border-color);
    border-radius: 2px;
    color: var(--accent-color);
    background: var(--bg-color);
    margin-top: 4px;
    padding: 4px;
    font-size: 16px;
    line-height: 14px;
}

#settings .setting .list .rule .options {
    background: var(--bg-color);
    padding: 4px;
    position: absolute;
    display: none;
    top: 0;
    left: 50;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

#settings .setting .list .rule .options a {
    color: var(--hint-color);
    float: right;
    margin-left: 5px;
    font-size: 12px;
}

#settings .setting .list .rule .with {
    float: right;
}

#settings .setting .list .action {
    position: relative;
    box-shadow: 0 0 2px var(--border-color);
    border-radius: 2px;
    color: var(--accent-color);
    background: var(--bg-color);
    margin-top: 4px;
    padding: 4px;
    font-size: 16px;
    line-height: 14px;
    display: flex;
}

#settings .setting .list .action .symbol {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#settings .setting .list .action .actions, .modal #modal-content .actions {
    flex: 5;
    border: 0;
    text-align: center;
    box-shadow: inset 0 0 2px var(--hint-color);
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 20px;
    min-height: 16px;
}

#settings .setting .number input, #settings .setting .string input {
    border: 0;
    text-align: center;
    box-shadow: inset 0 0 2px var(--hint-color);
    border-radius: 2px;
    margin: 0;
    padding: 4px;
    font-size: 16px;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

#settings .setting #rule-inputs .symbol {
    display: inline-block;
    font-size: 20px;
}

#settings .render {
    display: flex;
    padding: 8px;
    text-align: center;
    overflow: hidden;
}

#settings .render .btn {
    height: 40px;
    border: none;
    border-left: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    background: var(--bg-color);
    font-size: 20px;
    margin-bottom: 8px;
    cursor: pointer;
    flex: 1;
}

#settings .render .btn:disabled {
    opacity: 0.7;
    cursor: default;
}

#settings .render .btn:not([disabled]):hover {
    border-left: 2px solid var(--bg-color);
    border-right: 2px solid var(--bg-color);
    background: var(--accent-color);
    color: var(--bg-color);
    cursor: pointer;
}

a {
    color: var(--hint-color);
    text-decoration: none;
}
