:root {
    --bg-color: #fff;
    --sbg-color: #f2f2f2;
    --accent-color: #555;
    --hint-color: #999;
    --border-color: #ccc;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
